$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #279af1;
}

h1 {
  float: left;
}

h3 {
  margin-top: 10px;
}

.cardButtonText {
  margin-top: 10px;
  color: #f7f7ff;
}

.navbar {
  border: 3px;
  background-color: #f7f7ff;
  border-color: #070600;
  border-style: outset;
  border-radius: 12px;
  // box-shadow: 10px 5px 5px black;
}

.nav-link {
  margin-top: 19px;
}

.button5 {
  padding: 20px;
  border-radius: 50%;
}

.mainCardButtons {
  padding: 20px;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  border-color: #070600;
  margin-bottom: 15px;
}

.skipButton {
  background-color: #23b5d3;
  margin-left: 15px;
  float: left;
}

.sipButton {
  float: right;
  background-color: #ea526f;
  margin-right: 15px;
}

.display {
  border: 3px;
  background-color: #f7f7ff;
  border-color: #070600;
  border-style: outset;
  border-radius: 12px;
  box-shadow: 10px 5px 5px black;
}

.recipe-display {
  min-height: 305px;
  border: 4px;
  background-color: #f7f7ff;
  border-color: #070600;
  border-style: outset;
  border-radius: 12px;
  box-shadow: 10px 5px 5px black;
  padding-left: 0px;
}

.drink-img {
  margin: auto;
  width: 415px;
  height: 415px;
  margin-top: 30px;
  border: 2px;
  background-color: #f7f7ff;
  border-color: #070600;
  border-style: outset;
  border-radius: 12px;
}

.placeholder {
  height: 1000px;
}

.handlebars-add-form {
  clear: right;
}

.signed-in-view {
  display: none;
}

.new-navbar-item {
  margin-top: 19px;
}

.signed-in-vew {
  display: none;
}

.modal-display {
  min-height: 500px;
}

.recipe-img {
  height: 310px;
  width: 310px;
  float: left;
  border-right: 5px;
  border-bottom: 5px;
  background-color: #f7f7ff;
  border-color: #070600;
  border-style: outset;
  border-radius: 12px;
  clear: right;
}

.delete-button {
  // float: right;
  // clear: left;
}

.delete-column {
  padding: 0;
}

.handlebars-form-hider {
  display: none;
}

.recipe-card-indent {
  padding-left: 15px;
}
